@import url(http://fonts.googleapis.com/css?family=Poppins:300,400,500,700);

$poppins: "Poppins", serif;

body {
    font-family: $poppins;
    font-size: 14px;

    button {
        font-family: $poppins;
        text-transform: uppercase;
        letter-spacing: .06em;
        line-height: 2em;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

p,
span {
    font-size: 14px;
    letter-spacing: .035em;
    line-height: 1em;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: .9em;
    padding: 0;
}