@use "./fonts.scss" as *;
@use "./variables.scss" as *;
@use "./plugin.scss" as *;
@use "./animation.scss" as *;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    [app-container] {
        height: 100vh;
        overflow: hidden;
        background: $background;
        color: $fontColorBase;
    }
}

.connectedState {
    height: calc(100vh - $gap * 2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    grid-gap: $gap;
    padding: $gap;

    .authenticated {
        padding: $mid-gap;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

.el-popper {
    max-width: 350px;
}