$primary: #8a21eb;
$success: #39e57e;
$danger: #ff4b4b;

$background: #393d45;
$backgroundHighlight: #2e3034;

$fontColorBase: #dbd9d9;
$fontColorHighlight: #fff;

$gap: 10px;
$mid-gap: 20px;
$large-gap: 40px;