$primary: #8a21eb;
$success: #39e57e;
$danger: #ff4b4b;

$background: #393d45;

$backgroundHighlight: #2e3034;
$backgroundHighlightHover: #292b2f;
$backgroundHighlightActive: #1b1b1c;

$fontColorBase: #dbd9d9;
$fontColorHighlight: #fff;
$fontColorLabel: #8d8d8d;

$gap: 10px;
$mid-gap: 20px;
$large-gap: 40px;

$borderRadius: 10px;