@use "@/style/variables.scss" as *;
@use "@/style/animation.scss" as *;

.appCardRoot {
    background: $backgroundHighlight;
    border-radius: $borderRadius;
    opacity: 0;
    animation: FadeIn 150ms ease-in 1;
    animation-fill-mode: forwards;
    transition: all 150ms ease-in;
    overflow-y: hidden;

    .mainCardContent {
        padding: $gap;
    }

    h3 {
        margin-bottom: $gap;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: .065em;
    }

    &[hover-effect=true]:hover {
        background: $backgroundHighlightHover;
    }
}